# ==========================================
# FRONTEND CONFIGURATION
# ==========================================
VITE_APP_NAME=safe-security
VITE_AUTH_API_URL=http://192.168.1.87:8040

# ==========================================
# BACKEND AUTH CONFIGURATION
# ==========================================
MONGODB_URI=
MONGODB_DATABASE=

# ==========================================
# NETWORK CONFIGURATION
# ==========================================
FRONT_SERVER_IP=192.168.1.10  # Replace with Laptop A's actual IP
BACK_SERVER_IP=192.168.1.20   # Replace with Laptop B's actual IP